@charset "utf-8";
.container {
	background-color: #FFFFFF;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	font-family: syncopate;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	font-size: 36px;
	color: #6898CC;
	border-radius: 00px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer {
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
}
contactUs {
}
#footer {
	color: #FFFFFF;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.title {
	font-family: amethysta;
	font-style: normal;
	font-weight: 400;
}
.main_paragraph #p2 {
}
